<!DOCTYPE html>
<!-- saved from url=(0082)https://unlockdesizn.com/html/health-and-beauty/comfort-home/index-multipage5.html -->
<html dir="ltr" lang="en" class="js no-touch csstransitions">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Transforming Lives with Personalized Support">
    <meta name="keywords" content="assisted living, activities, care services, dementia care, elderly care, doctor, health, health care, hospital, medical template, nursing home, old care, retail, senior, service etc">
    <meta name="author" content="unlockdesign">
    <!-- css file -->
    <link rel="stylesheet" href="~/newweb/bootstrap.min.css">
    <link rel="stylesheet" href="~/newweb/all-plugins.css">
    <link rel="stylesheet" href="~/newweb/style.css">
    <link href="~/newweb/com-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/newweb/theme-color.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="~/newweb/responsive.css">
    <!-- Title -->
    <title>UNIC CARE SERVICES LTD | Transforming Lives with Personalized Support</title>

    <link rel="shortcut icon" href="~/file/icon.png" type="image/x-icon">

    <link rel="stylesheet" href="~/masterslider/style/masterslider.css" />
    <link rel="stylesheet" href="~/masterslider/skins/default/style.css" />
    <link rel="stylesheet" href="~/masterslider/style/style.css" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CSource+Sans+Pro:400,400i,600" rel="stylesheet" />

    <link rel="stylesheet" href="~/newweb/style(1).css" />
    <link href="~/newweb/xmin.css" rel="stylesheet" />
    <style>
        .mm-btn_next:after, .mm-btn_prev:before {
            content: '';
            border-bottom: none;
            border-right: none;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            display: none;
            width: 0px;
            height: 0px;
            margin: auto;
            position: absolute;
            top: 0;
            bottom: 0;
        }

        .ulockd-footer-widget.home5_style .ulockd-ftr-text, .ulockd-footer-lnews.home5_style p, .footer-qlink.home5_style .list-unstyled li a {
            color: #000000;
        }

        .ulockd-footer-font-icon a {
            border: 1px solid #000000;
            color: #000000;
        }

        .video_popup_icon:after {
            background-color: #5cb34a;
        }

        .copyrights p {
            color: #000000;
            margin-bottom: 25px;
        }

        .ulockd-service-box, .ulockd-tm-overlay, .bgc-thm-trnsp, .about-box:before {
            background-color: rgb(92 179 74);
        }

        .fancybox-gallery-slider .gallery-overlay, .ulockd-srvcs-overlay {
            background-color: #4eb350;
        }

        @@media (min-width: 768px) {

            .hidden-desktop {
                display: none;
            }
        }
    </style>
</head>
<body class="mm-wrapper">
    <nav id="menu" class="stylehome1 mm-menu mm-menu_offcanvas" aria-hidden="true">

        <div class="mm-panels">
            <div id="mm-1" class="mm-panel mm-panel_opened">
                <div class="mm-navbar mm-navbar_sticky">
                    <a class="mm-navbar__title">Menu</a>
                </div>

                <ul class="mm-listview">
                    <li class="mm-listitem">
                        <a class="mm-btn mm-btn_next mm-listitem__btn mm-listitem__text" asp-page="/Index">Home</a>
                    </li>
                    <li class="mm-listitem">
                        <a class="mm-btn mm-btn_next mm-listitem__btn mm-listitem__text" asp-page="/About">About Us</a>
                    </li>
                    <li class="mm-listitem">
                        <a class="mm-btn mm-btn_next mm-listitem__btn mm-listitem__text" asp-page="/Services">Services</a>
                    </li>
                    <li class="mm-listitem">
                        <a class="mm-btn mm-btn_next mm-listitem__btn mm-listitem__text" asp-page="/News">News</a>
                    </li>
                    <li class="mm-listitem">
                        <a class="mm-btn mm-btn_next mm-listitem__btn mm-listitem__text" asp-page="/ApplicationPage">Apply</a>
                    </li>
                    <li class="mm-listitem">
                        <a class="mm-btn mm-btn_next mm-listitem__btn mm-listitem__text" asp-page="/Contact">Book An Appointment</a>
                    </li>
                    <li class="mm-listitem">
                        <a class="mm-btn mm-btn_next mm-listitem__btn mm-listitem__text" asp-page="/Account/Login" asp-area="Identity">Login</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <div class="wrapper mm-page mm-slideout" id="mm-0">
        <div class="wrapper">
            <div id="preloader" class="preloader" style="display: none;">
                <div id="pre" class="preloader_container"><div class="preloader_disabler btn btn-default">Disable Preloader</div></div>
            </div>

            <div class="header-middle hidden-desktop" style=" background-color: #5cb34a; ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ulockd-welcm-hmddl">
                                <a href="/" class="ulockd-main-logo">
                                    <img src="~/file/logo.png" alt="">
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            <!-- Header Styles -->
            <header class="header-nav">
                <div class="main-header-nav navbar-scrolltofixed" style="z-index: auto; position: relative; top: 0px;">
                    <div class="container">
                        <nav class="navbar bootsnav navbar-expand-lg menu-style1 light-blue on no-full">
                            <!-- Start Top Search -->
                            <!-- End Top Search -->

                            <div class="container">

                                <!-- Start Header Navigation -->
                                <div class="navbar-header">
                                    <a href="/">
                                        <img src="~/file/logo.png" alt="" style="height:30px;">

                                    </a>

                                    <button type="button" class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#navbar-menu"> <i class="fas fa-bars"></i> </button>
                                </div>
                                <!-- End Header Navigation -->
                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="navbar-menu">
                                    <ul class="nav navbar-nav navbar-left" data-in="fadeIn">


                                        <li class="nav-item"><a asp-page="/Index" class="nav-link">Home</a></li>
                                        <li class="nav-item"><a asp-page="/About" class="nav-link">About Us</a></li>
                                        <li class="nav-item"><a asp-page="/Services" class="nav-link">Services</a></li>
                                        <li class="nav-item"><a asp-page="/News" class="nav-link">News</a></li>
                                        <li class="nav-item"><a asp-page="/ApplicationPage" class="nav-link">Apply</a></li>
                                        <li class="nav-item"><a asp-page="/Contact" class="nav-link">Book An Appointment</a></li>
                                        <li class="nav-item"><a asp-page="/Account/Login" class="nav-link" asp-area="Identity">Login</a></li>


                                    </ul>
                                </div>
                                <!-- /.navbar-collapse -->

                            </div>

                            <!-- Start Side Menu -->
                            <!-- End Side Menu -->
                        </nav>
                    </div>
                </div><div style="display: none; width: 1788.8px; height: 91.8px; float: none;"></div>
            </header>

            <!-- Main Header Nav For Mobile -->
            <div id="page" class="stylehome1">
                <div class="mobile-menu">
                    <div class="header stylehome1">
                        <div class="main_logo_home2 dn"><img class="nav_logo_img dn-md img-fluid mt20" src="~/file/logo.png" alt="header-logo.png"></div>
                        <ul class="menu_bar_home2">
                            <li class="list-inline-item"></li>
                            <li class="list-inline-item"><a href="#menu"><span></span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.mobile-menu -->

            </div>

            @RenderBody()
            <!-- Our Footer -->
            <section class="ulockd-footer bgc-thm">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xl-3">
                            <div class="ulockd-footer-widget home5_style">
                                <img alt="footer-logo.png" src="~/file/logo.png" class="img-responsive ulockd-footer-log">
                                <p class="ulockd-ftr-text text-white text-justify">
                                    At UNIC CARE SERVICES LTD, we create nurturing homes with personalized care, specializing in support for individuals with learning disabilities and autism, helping them achieve their dreams.
                                </p>
                            </div>
                            <div class="ulockd-footer-newsletter home5_style">
                                <h4 class="title text-uppercase">News Letter</h4>
                                <form class="ulockd-mailchimp">
                                    <div class="input-group">
                                        <input type="email" class="form-control form_control" placeholder="Your email">
                                        <button class="btn mc_submit_btn" type="submit"><i class="icon flaticon-right-arrow"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xl-2">
                            <div class="footer-qlink home5_style">
                                <h5 class="text-uppercase text-white">NAVIGATION</h5>
                                <ul class="list-unstyled">
                                    <li> <span class="flaticon-checked-mark text-thm3"></span><a class="text-white" asp-page="/About">About Us</a></li>
                                    <li> <span class="flaticon-checked-mark text-thm3"></span><a class="text-white" asp-page="/Services">Services</a></li>
                                    <li> <span class="flaticon-checked-mark text-thm3"></span><a class="text-white" asp-page="/News">News</a></li>
                                    <li> <span class="flaticon-checked-mark text-thm3"></span><a class="text-white" asp-page="/ApplicationPage">Apply</a></li>
                                    <li> <span class="flaticon-checked-mark text-thm3"></span><a class="text-white" asp-page="/Contact">Contact Us</a></li>



                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xl-4">
                            <div class="footer-qlink home5_style">
                                <h5 class="text-uppercase text-white">CONTACT INFORMATION</h5>

                                <p class="text-white"><span style=""><i style="border: 1px solid white; padding: 5px; border-radius: 5px;" class="fab fa-globe"></i></span> 7 Elm Close, Bolsover, Chesterfield, Derbyshire. S44 6EA</p>
                                <p class="text-white"><span style=""><i style="border: 1px solid white; padding: 5px; border-radius: 5px;" class="fab fa-phone"></i></span> O7503630488, 01246826230 </p>
                                <p class="text-white"><span style=""><i style="border: 1px solid white; padding: 5px; border-radius: 5px;" class="fab fa-envelope"></i></span>  info@uniccareserviceslimited.co.uk </p>
                                <p class="text-white"><span style=""><i style="border: 1px solid white; padding: 5px; border-radius: 5px;" class="fab fa-mobile-phone"></i></span> Out of hour/24hrs contact - O7503630488</p>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xl-3">
                            <div class="flickr-widget home5_style" style="background-color:white;border-radius:10px;text-align:center;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>DSPT Registered</h5>
                                        <div style="text-align:center;margin:0 auto;">
                                            <img src="~/image/iso.png" style="max-height: 70px; text-align: center; margin: 0 auto;" class="img-fluid" />
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="col-md-12">
                                        <h5>Regulated by - Care Quality Commission (CQC)</h5>
                                        <div style="text-align:center;margin:0 auto;">
                                            <img src="~/cqc.png" style="max-height: 70px; text-align: center; margin: 0 auto;" class="img-fluid" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <style>
                .ulockd-footer-font-icon a {
                    border: 1px solid #efefef;
                    color: #ffffff;
                }
            </style>
            <!-- Our CopyRight Section -->
            <section class="copyrights bdrt1 bgc-thm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                           
                            <ul class="ulockd-footer-font-icon mt15">
                                <li class="list-inline-item"> <a class="text-white" href="/Terms"> Terms & Conditions</a></li>
                                <li class="list-inline-item"><a class="text-white" href="/Privacy"> Privacy Policy</a></li>
                            </ul>
                            <p style=" margin-top: 20px;" class="text-white">
                                Copyright© Unic Care services LTD.
                                All right reserved.
                            </p>
                            <ul class="ulockd-footer-font-icon mt15">
                                <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-youtube"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <a class="scrollToHome" href="#" style="display: none;"><i class="fa fa-home"></i></a>
        </div>

    </div>
    <!-- Wrapper End -->
    <script src="~/newweb/jquery-1.12.4.js"></script>
    <script src="~/newweb/popper.min.js"></script>
    <script src="~/newweb/bootstrap.min.js"></script>
    <script src="~/newweb/bootsnav.js"></script>
    <script src="~/newweb/jquery.mmenu.all.js"></script>
    <script src="~/newweb/parallax.js"></script>
    <script src="~/newweb/scrollto.js"></script>
    <script src="~/newweb/jquery-scrolltofixed-min.js"></script>
    <script src="~/newweb/jquery.counterup.js"></script>
    <script src="~/newweb/gallery.js"></script>
    <script src="~/newweb/wow.min.js"></script>
    <script src="~/newweb/slider.js"></script>
    <script src="~/newweb/video-player.js"></script>
    <script src="~/newweb/timepicker.js"></script>
    <!-- Custom script for all pages -->
    <script src="~/masterslider/masterslider.min.js"></script>
    <script type="text/javascript">

        (function ($) {
            "use strict";


            var slider = new MasterSlider();

            // adds Arrows navigation control to the slider.
            slider.control('arrows');

            slider.setup('masterslider', {
                width: 1400,    // slider standard width
                height: 560,   // slider standard height
                layout: 'fullwidth',
                loop: true,
                preload: 0,
                fillMode: 'fill',
                instantStartLayers: true,
                autoplay: true,
                view: "basic"

            });
            // add scroll parallax effect

        })(jQuery);







    </script>
    <script src="~/newweb/script.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>