
<!DOCTYPE html>
<!-- saved from url=(0060) https://world5.commonsupport.com/html/garden-care/index.html-->
<html lang="en" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>UNIC CARE SERVICES LTD | Transforming Lives with Personalized Support</title>

    <!-- Responsive Meta Tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- main stylesheet -->
    <link rel="stylesheet" href="~/file/style.css">
    <!-- responsive stylesheet -->
    <link rel="stylesheet" href="~/file/responsive.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" integrity="sha512-XJ3ntWHl40opEiE+6dGhfK9NAKOCELrpjiBRQKtu6uJf9Pli8XY+Hikp7rlFzY4ElLSFtzjx9GGgHql7PLSeog==" crossorigin="anonymous" referrerpolicy="no-referrer" />



    <style type="text/css">
        .fancybox-margin {
            margin-right: 17px;
        }
    </style>
    <style>
        @@-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @@keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        input.bito-email-input:-webkit-autofill,
        input.bito-email-input:-webkit-autofill:hover,
        input.bito-email-input:-webkit-autofill:focus {
            -webkit-text-fill-color: rgb(255, 255, 255);
            transition: background-color 5000s ease-in-out 0s;
        }

        #bito-body::-webkit-scrollbar,
        #emptyDiv-inner::-webkit-scrollbar,
        #loginParentDiv-outer::-webkit-scrollbar {
            width: 4px;
            border-radius: 24px;
            color: #7a8084;
        }

        #bito-body::-webkit-scrollbar-thumb,
        #emptyDiv-inner::-webkit-scrollbar-thumb,
        #loginParentDiv-outer::-webkit-scrollbar-thumb {
            background: #888;
        }

            #bito-body::-webkit-scrollbar-thumb:hover,
            #emptyDiv-inner::-webkit-scrollbar-thumb:hover,
            #loginParentDiv-outer::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

        .login-network-error-container {
            padding: 10px 16px 8px;
            color: rgb(255 0 0);
        }

        #loader {
            background-color: #00000085;
            position: absolute;
            width: 100%;
            top: 0px;
            left: 0px;
            height: 300px;
            align-items: center;
            justify-content: center;
            display: grid;
            z-index: 3002;
            opacity: 9999;
        }

        .spinner {
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            vertical-align: text-bottom;
            border: 1.75px solid #fff;
            border-right-color: transparent;
            border-radius: 50%;
            animation: spinner-border .75s linear infinite;
            margin-top: -30px
        }

        @@keyframes spinner-border {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    <style id="fit-vids-style">
        .fluid-width-video-wrapper {
            width: 100%;
            position: relative;
            padding: 0;
        }

            .fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
    </style>

    <!-- Base MasterSlider style sheet -->
    <link rel="stylesheet" href="~/masterslider/style/masterslider.css" />
    <link rel="stylesheet" href="~/masterslider/skins/default/style.css" />
    <link rel="stylesheet" href="~/masterslider/style/style.css" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600%7CSource+Sans+Pro:400,400i,600" rel="stylesheet" />

    <!-- JavaScripts -->
</head>
<body>


    <!-- start header -->
    <header style="margin-bottom: -70px; padding: 40px 0 89px; ">
        <div class="container">
            <div class="logo pull-left">
                <a href="">
                    <img src="~/file/logo.png" alt="Awesome Image">
                </a>
            </div>
            <div class="top-info pull-right">
                <div class="info-box">
                    <div class="text-box">
                        <p><span class="highlighted">Follow Us</span></p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="info-box">
                    <div class="icon-box">
                        <i class="icon icon-Phone2"></i>
                    </div>
                    <div class="text-box">
                        <p>
                            <span class="highlighted"><a style="color: #99ac8e;" href="tel:+447503630488">07503 630488</a></span>
                            <br>info@UNICcareserviceslimited.co.uk
                        </p>
                    </div>
                </div>
                <div class="info-box">
                    <div class="icon-box">
                        <i class="icon icon-WorldGlobe"></i>
                    </div>
                    <div class="text-box">
                        <p><span class="highlighted">TBC</span>  </p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
    <!-- start mainmenu -->
    <nav class="mainmenu-navigation stricky">
        <div class="container mainmenu-gradient-bg">
            <div class="navigation pull-left">
                <div class="nav-header">
                    <button><i class="fa fa-bars"></i></button>
                </div>
                <div class="nav-footer">
                    <ul class="nav">
                        <li class=""><a asp-page="/Index">Home</a></li>
                        <li class=""><a asp-page="/About">About Us</a></li>
                        <li class=""><a asp-page="/Services">Services</a></li>
                        <li class=""><a asp-page="/News">News</a></li>
                        <li class=""><a asp-page="/Book">Book An Appointment</a></li>
                        <li class=""><a asp-page="/Contact">Contact</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>

    @RenderBody()



    <section id="great-gardener-team" style=" background: #98BC24 url(/image/bg-ht.png) left center no-repeat;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 pull-right has-skew">
                    <h2>Need Urgent Care?</h2>
                    <p>
                        Feel free to contact us in order for us to support you or your client needs. With have lovely staff available who are accessible and approachable.
                    </p>
                    <p class="has-btn">
                        <b>07503630488</b><span>or</span>
                    </p>
                    <a class="contact-button" href="">
                        <div class="contact-us-button">contact us</div>
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>



    <section id="footer-bg">
        <!-- footer -->
        <footer class="gardener">
            <div class="container">
                <div class="row">
                    <!-- .widget -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 widget">
                        <h3>About Us</h3>
                        <p>
                            We create nurturing homes with personalized care for those with learning disabilities and autism, helping them achieve their dreams.
                        </p>


                    </div> <!-- /.widget -->
                    <!-- .widget -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 widget">
                        <h3>Our Services</h3>
                        <ul class="quick-links">
                            <li><a href="/About">About Us</a></li>
                            <li><a href="/Services">Services</a></li>
                            <li><a href="/Terms">Terms & Conditions</a></li>
                            <li><a href="/Privacy">Privacy Policy</a></li>
                        </ul>
                    </div> <!-- /.widget -->
                    <!-- .widget -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 widget">
                        <h3>Get in Touch</h3>
                        <ul class="contact-info">
                            <li>
                                <div class="icon-box">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="content">
                                    <p>TBC</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon-box">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="content phone">
                                    <p>07503630488</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon-box">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                                <div class="content">
                                    <p>info@UNICcareserviceslimited.co.uk</p>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- /.widget -->
                    <!-- .widget -->
                    <div class="col-lg-3 col-md-6 hidden-md col-sm-6 col-xs-12 widget">
                        <img class="positioned wow slideInRight " src="~/file/child-1.png" alt="" style="visibility: hidden; animation-name: none;">
                    </div> <!-- /.widget -->
                </div>
            </div>
        </footer> <!-- /footer -->
        <!-- #bottom-bar -->
        <section id="bottom-bar" class="gardener">
            <div class="container">
                <div class="row">
                    <!-- .copyright -->
                    <div class="copyright pull-left">
                        <ul class="social">
                            <li><a href="#" class="hvr-radial-out"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="hvr-radial-out"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="hvr-radial-out"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="hvr-radial-out"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div> <!-- /.copyright -->
                    <!-- .credit -->
                    <div class="credit pull-right">
                        <p>Copyright © Unic Care services LTD 2024. All rights reserved. </p>
                    </div> <!-- /.credit -->
                </div>
            </div>
        </section><!-- /#bottom-bar -->
    </section>





    <script src="~/file/jquery.min.js"></script> <!-- jQuery JS -->
    <script src="~/file/bootstrap.min.js"></script> <!-- BootStrap JS -->
    <script src="~/file/wow.js"></script> <!-- WOW JS -->
    <script src="~/file/isotope.pkgd.min.js"></script> <!-- iSotope JS -->
    <script src="~/file/owl.carousel.min.js"></script> <!-- OWL Carousle JS -->

    <script src="~/masterslider/masterslider.min.js"></script>
    <script type="text/javascript">

        (function ($) {
            "use strict";


            var slider = new MasterSlider();

            // adds Arrows navigation control to the slider.
            slider.control('arrows');

            slider.setup('masterslider', {
                width: 1400,    // slider standard width
                height: 560,   // slider standard height
                layout: 'fullwidth',
                loop: true,
                preload: 0,
                fillMode: 'fill',
                instantStartLayers: true,
                autoplay: true,
                view: "basic"

            });
            // add scroll parallax effect

        })(jQuery);







    </script>
    <script src="~/file/jquery.fancybox.pack.js"></script> <!-- FancyBox -->
    <script src="~/file/validate.js"></script> <!-- Form Validator JS -->
    <script src="~/file/jquery.easing.min.js"></script> <!-- jquery easing JS -->
    <script src="~/file/jquery.fitvids.js"></script> <!-- jquery fitVids JS -->
    <script src="~/file/jquery.bxslider.min.js"></script> <!-- jquery bx slider JS -->
    <script src="~/file/custom.js"></script> <!-- Custom JS -->


    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>

 
