
<!DOCTYPE html>
<!-- saved from url=(0059)https://themesbrand.com/velzon/html/default/index-dark.html -->
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable" data-layout-mode="light" data-sidebar-visibility="show" data-layout-style="default" data-layout-width="fluid" data-layout-position="fixed">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Staff - UNIC CARE SERVICES LTD | Transforming Lives with Personalized Support</title>

    <link rel="shortcut icon" href="~/file/icon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jsvectormap css -->
    <link href="~/main/jsvectormap.min.css" rel="stylesheet" type="text/css">

    <!--Swiper slider css-->
    <link href="~/main/swiper-bundle.min.css" rel="stylesheet" type="text/css">

    <!-- Layout config Js -->
    <script src="~/main/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="~/main/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="~/main/icons.min.css" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="~/main/app.min.css" rel="stylesheet" type="text/css">
    <!-- custom Css-->
    <link href="~/main/custom.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/site3.css" rel="stylesheet" />
    <style>
        .btn-primary {
            --vz-btn-color: #fff;
            --vz-btn-bg: #405189;
            --vz-btn-border-color: #405189;
            --vz-btn-hover-color: #fff;
            --vz-btn-hover-bg: #364574;
            --vz-btn-hover-border-color: #33416e;
            --vz-btn-focus-shadow-rgb: 93,107,155;
            --vz-btn-active-color: #fff;
            --vz-btn-active-bg: #33416e;
            --vz-btn-active-border-color: #303d67;
            --vz-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            --vz-btn-disabled-color: #fff;
            --vz-btn-disabled-bg: #405189;
            --vz-btn-disabled-border-color: #405189;
            margin-top: 15px !important;
        }

        .btn-default {
            --vz-btn-color: #fff;
            --vz-btn-bg: #405189;
            --vz-btn-border-color: #405189;
            --vz-btn-hover-color: #fff;
            --vz-btn-hover-bg: #364574;
            --vz-btn-hover-border-color: #33416e;
            --vz-btn-focus-shadow-rgb: 93,107,155;
            --vz-btn-active-color: #fff;
            --vz-btn-active-bg: #33416e;
            --vz-btn-active-border-color: #303d67;
            --vz-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            --vz-btn-disabled-color: #fff;
            --vz-btn-disabled-bg: #405189;
            --vz-btn-disabled-border-color: #405189;
            margin-top: 15px !important;
        }
        .sheetfull {
            background-color: #289bd1 !important;
        }

        .main-timsheet-today {
            border: 4px solid #e86b00;
        }
    </style>
</head>

<body style="">
    <script src="//code.tidio.co/dwabvzm6jabv6yc5zosywr1iv0etnaty.js" async></script>

    <!-- Begin page -->

    <div id="layout-wrapper">

        <header id="page-topbar">

            <div class="layout-width">

                <div class="navbar-header">

                    <div class="d-flex">
                        <!-- LOGO -->

                        <div class="navbar-brand-box horizontal-logo" style="background-color:white;">
                            <a href="/" class="logo logo-dark">

                                <span class="logo-sm">
                                    <img src="~/file/logo.png" alt="" height="">
                                </span>

                                <span class="logo-lg">
                                    <img src="~/file/logo.png" alt="" height="">
                                </span>
                            </a>

                            <a href="/" class="logo logo-light">

                                <span class="logo-sm">
                                    <img src="~/file/logo.png" alt="" height="">
                                </span>

                                <span class="logo-lg">
                                    <img src="~/file/logo.png" alt="" height="">
                                </span>
                            </a>
                        </div>

                        <button type="button" class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger" id="topnav-hamburger-icon">

                            <span class="hamburger-icon">

                                <span></span>

                                <span></span>

                                <span></span>
                            </span>
                        </button>

                        <!-- App Search-->

                    </div>

                    <div class="d-flex align-items-center">

                        <div class="ms-1 header-item d-none d-sm-flex">
                            <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle" data-toggle="fullscreen">
                                <i class="bx bx-fullscreen fs-22"></i>
                            </button>
                        </div>


                        <div class="ms-1 header-item d-none d-sm-flex">
                            <button type="button" class="btn btn-icon btn-topbar btn-ghost-secondary rounded-circle light-dark-mode">
                                <i class="bx bx-moon fs-22"></i>
                            </button>
                        </div>

                        <div class="dropdown ms-sm-3 header-item topbar-user">
                            <button type="button" class="btn" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="d-flex align-items-center">
                                    <img class="rounded-circle header-profile-user" src="~/file/icon.png" alt="Header Avatar">
                                    <span class="text-start ms-xl-2">
                                        <span class="d-none d-xl-inline-block ms-1 fw-medium user-name-text">Staff</span>
                                    </span>
                                </span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end" style="">
                                <!-- item-->
                                <h6 class="dropdown-header">Welcome</h6>
                                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="mdi mdi-logout text-muted fs-16 align-middle me-1"></i> <span class="align-middle" data-key="t-logout">Logout</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <div class="app-menu navbar-menu">
            <!-- LOGO -->

            <div class="navbar-brand-box" style="background-color:black;">
                <!-- Dark Logo-->
                <a href="/" class="logo logo-dark">

                    <span class="logo-sm">
                        <img src="~/file/logo.png" alt="" style=" width: 100%;">
                    </span>

                    <span class="logo-lg">
                        <img src="~/file/logo.png" alt="" style="    width: 100%;">
                    </span>
                </a>
                <!-- Light Logo-->
                <a href="/" class="logo logo-light">

                    <span class="logo-sm">
                        <img src="~/file/logo.png" alt="" style=" width: 100%; ">
                    </span>

                    <span class="logo-lg">
                        <img src="~/file/logo.png" alt="" style=" width: 100%; ">
                    </span>
                </a>
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>

            <div id="scrollbar" data-simplebar="init" class="h-100">
                <div class="simplebar-wrapper" style="margin: 0px;">
                    <div class="simplebar-height-auto-observer-wrapper">
                        <div class="simplebar-height-auto-observer"></div>
                    </div>
                    <div class="simplebar-mask">
                        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                            <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;">
                                <div class="simplebar-content" style="padding: 0px;">

                                    <div class="container-fluid">


                                        <div id="two-column-menu">
                                        </div>
                                        <ul class="navbar-nav" id="navbar-nav" data-simplebar="init">
                                            <div class="simplebar-wrapper" style="margin: 0px;">
                                                <div class="simplebar-height-auto-observer-wrapper">
                                                    <div class="simplebar-height-auto-observer"></div>
                                                </div>
                                                <div class="simplebar-mask">
                                                    <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                                        <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: auto; overflow: hidden;">
                                                            <div class="simplebar-content" style="padding: 0px;">
                                            <li class="menu-title">
                                                <span data-key="t-menu">Menu</span>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link menu-link collapsed" asp-area="Staff" asp-page="/Dashboard/Index" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                                                    <i class="ri-dashboard-2-line"></i>
                                                    <span data-key="t-dashboards">Dashboard</span>
                                                </a>


                                            </li> <!-- end Dashboard Menu -->
                                            <li class="nav-item">
                                                <a asp-area="" asp-page="/Index" role="button" class="nav-link menu-link collapsed" aria-expanded="false" aria-controls="sidebarDashboards">
                                                    <i class="ri-home-2-fill"></i>
                                                    <span data-key="t-dashboards">Home</span>
                                                </a>


                                            </li>
                                            <li class="nav-item">
                                                <a asp-area="Staff" asp-page="/Dashboard/TimeSheet" role="button" class="nav-link menu-link collapsed" aria-expanded="false" aria-controls="sidebarDashboards">
                                                    <i class="ri-settings-line"></i>
                                                    <span data-key="t-dashboards">Time Sheet</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a asp-area="Staff" asp-page="/Dashboard/MessagePage" role="button" class="nav-link menu-link collapsed" aria-expanded="false" aria-controls="sidebarDashboards">
                                                    <i class="ri-settings-line"></i>
                                                    <span data-key="t-dashboards">Messages</span>
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link menu-link collapsed" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="~/" role="button" aria-expanded="false" aria-controls="sidebarDashboards">
                                                    <i class="ri-logout-box-fill"></i>
                                                    <span data-key="t-dashboards">Logout</span>
                                                </a>
                                            </li>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="simplebar-placeholder" style="width: 249px; height: 1235px;"></div>
                    </div>
                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                        <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                    </div>
                    <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
                        <div class="simplebar-scrollbar" style="height: 0px; display: none;"></div>
                    </div></ul>
                </div>
                <!-- Sidebar -->
            </div>
        </div>
    </div></div>
    <div class="simplebar-placeholder" style="width: auto; height: 1235px;"></div></div>
    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
        <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
    </div>
    <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
        <div class="simplebar-scrollbar" style="height: 200px; transform: translate3d(0px, 56px, 0px); display: block;"></div>
    </div></div>
    <form asp-area="identity" id="logoutForm" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
        @*<button type="submit" class="nav-link btn btn-link text-dark">Logout</button>*@
    </form>

    <div class="sidebar-background"></div>
    </div>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->

    <div class="vertical-overlay"></div>

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->

    <div class="main-content">


        <div class="page-content">

            <div class="container-fluid">


                <div class="row">

                    <div class="col">


                        <div class="h-100">

                            <div class="row mb-3 pb-1">

                                <div class="col-12">

                                    <div class="d-flex align-items-lg-center flex-lg-row flex-column">

                                        <div class="flex-grow-1">
                                            <p class="text-muted mb-0">Here's what's happening with your dashboard today.</p>
                                        </div>
                                    </div><!-- end card header -->
                                </div>
                                <!--end col-->
                            </div>

                            <section class="">
                                <div class="row">

                                    <!-- Left side columns -->
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-body">
                                                @RenderBody()

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div> <!-- end .h-100-->

                    </div> <!-- end col -->
                    <!-- end col -->
                </div>

            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <footer class="footer">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-sm-12">
                        <script>document.write(new Date().getFullYear())</script> © Unic Care services LTD.
                    </div>

                    <div class="col-sm-6">


                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->
    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->
    <!--preloader-->

    <div id="preloader">

        <div id="status">

            <div class="spinner-border text-primary avatar-sm" role="status">

                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>





    <!-- Theme Settings -->
    <!-- JAVASCRIPT -->
    <script src="~/main/bootstrap.bundle.min.js"></script>
    <script src="~/main/simplebar.min.js"></script>
    <script src="~/main/waves.min.js"></script>
    <script src="~/main/feather.min.js"></script>
    <script src="~/main/lord-icon-2.1.0.js"></script>
    <script src="~/main/plugins.js"></script>
    <script type="text/javascript" src="~/main/toastify-js"></script>
    <script type="text/javascript" src="~/main/choices.min.js"></script>
    <script type="text/javascript" src="~/main/flatpickr.min.js"></script>


    <!-- apexcharts -->
    <script src="~/main/apexcharts.min.js"></script>

    <!-- Vector map-->
    <script src="~/main/jsvectormap.min.js"></script>
    <script src="~/main/world-merc.js"></script>

    <!--Swiper slider js-->
    <script src="~/main/swiper-bundle.min.js"></script>

    <!-- Dashboard init -->
    <script src="~/main/dashboard-ecommerce.init.js"></script>

    <script src="~/main/app.js"></script>


    @RenderSection("Scripts", required: false)

    <div class="jvm-tooltip"></div>
</body>
</html>