@page
@model UniCare.Pages.AboutModel
@{
}
<section id="breadcrumb-area" style=" background: rgba(0, 0, 0, 0) url(../image/breadcrumb-bg.jpg) no-repeat scroll center center / cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb-title text-center">
                    <h1 style="color:black;">About</h1>
                    <a href="/" style="color:black;">Home</a> <i class="fa fa-angle-right" style="color:black;"></i> <span style="color:black;">About</span>
                </div> <!-- /.page-breadcumb -->
            </div>
        </div>
    </div>
</section>

<section id="landscaping-design-gardener">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-border">
                    <img src="~/image/abt.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2>
                    <b>WHO WE ARE</b> 
                </h2>
                <p>
                    UNIC Care Services Ltd. is a family run health and social care company, and responsible in managing Elm House residential care home.lm House provides spacious and versatile Residential Accommodation, Personal care and Supported living care services for adults; 18years and above for people with learning disability and Autism spectrum.
                </p>
                <a class="btn btn-primary contact-button" href="/Contact">
                    BOOK A VIRTUAL OR IN PERSON WALKTHROUGH
                </a>
            </div>

        </div>
    </div>
</section>
<section id="landscaping-design-gardener">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-md-6 col-sm-12 col-xs-12" style=" box-shadow: 0px 10px 20px 0px rgb(13 82 43 / 90%);">

                <h4>
                    We pride ourselves on offering the highest standard of care in supporting services users with a truly person-centred care that is tailored to their needs with focus on achieving their optimum state of health and well-being; physically, emotionally, and socially and promoting independence in enhancing their quality of live.
                </h4>


            </div>

        </div>
    </div>
</section>
<section id="video-section-gardener" style="background: rgba(0, 0, 0, 0) url(../image/bg1.png) no-repeat scroll center center / cover;">
    <div class="container">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 video-text" style=" background-color: #2d5623; color: white; padding: 10px; border-radius: 15px;">
            <p style="color:white;">
                It aims to provide a homely and comfortable environment, with personal touches that makes all Service Users feel special, welcomed, secure, and safe.
            </p>
            <p style="color:white;">

                Service Users at Elm House can enjoy their stay with us in a comfortable, relaxed, friendly, and caring environment, free from worries, whilst their families are assured, that their relative will be living in a manner that would correspond with life in their own home while receiving all the care and support needed.
            </p>
            <p style="color:white;">

                Dedicated, skilled, experienced, and lovely staff are available, accessible, approachable round the clock to offer support and care tailored to the personal needs that enables them to live independently as possible and to their fullest and fulfilment.
            </p>

            <h3>You Deserve The Very Best in Assisted Living</h3>
            <a class="btn btn-primary" href="/Services">
                BROWSE OUR SERVICES
            </a>
        </div>

    </div>
</section>



