@page
@model UniCare.Pages.ContactModel
@{
}
<div class="ulockd-inner-home" style=" background-image: url(../image/inner-pagebg.jpg);">
    <div class="container text-center">
        <div class="row">
            <div class="ulockd-inner-conraimer-details">
                <div class="col-lg-12">
                    <h1 class="text-uppercase">CONTACT US</h1>
                </div>
                <div class="col-lg-12">
                    <div class="ulockd-icd-layer">
                        <ul class="ulockd-icd-sub-menu">
                            <li class="list-inline-item"><a href="#"> HOME </a></li>
                            <li class="list-inline-item"><a href="#"> &gt; </a></li>
                            <li class="list-inline-item"> <a href="#"> CONTACT US </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section id="contact-content">
    <div class="container">
        <div class="section-title2">
            <p>We Are Available</p>
            <h1><span>Get in touch</span></h1>
            <p class="title-text">
                You can talk to our online representative at any time. Please use our Live Chat System on our website or Fill up below instant messaging programs.
                Please be patient, We will get back to you. Our 24/7 Support, General Inquireies Phone: 07503630488
            </p>
        </div>
        <div class="row">
            <div class="contact-address-info">
                <p class=""><span style=""><i style="border: 1px solid #888; padding: 5px; border-radius: 5px;" class="fab fa-globe"></i></span> 7 Elm Close, Bolsover, Chesterfield, Derbyshire. S44 6EA</p>
                <p class=""><span style=""><i style="border: 1px solid #888; padding: 5px; border-radius: 5px;" class="fab fa-phone"></i></span> O7503630488, 01246826230 </p>
                <p class=""><span style=""><i style="border: 1px solid #888; padding: 5px; border-radius: 5px;" class="fab fa-envelope"></i></span>  info@uniccareserviceslimited.co.uk </p>
                <p class=""><span style=""><i style="border: 1px solid #888; padding: 5px; border-radius: 5px;" class="fab fa-mobile-phone"></i></span> Out of hour/24hrs contact - O7503630488</p>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-8 col-sm-12 col-xs-12 ">
                <div style=" box-shadow: 0px 10px 20px 0px rgb(13 82 43 / 90%);padding:30px;">
                    <form class="contact-form">
                        <p><input type="text" name="name" placeholder="Name" style="width:100%;"></p>
                        <p><input type="text" name="email" placeholder="Email" style="width:100%;"></p>
                        <p><input type="text" name="subject" placeholder="Subject" style="width:100%;"></p>
                        <p><textarea name="message" placeholder="Message" style="width:100%;"></textarea></p>
                        <button type="submit" class="contact-submit-button btn btn-primary" style="margin-top:20px;">
                            <span>submit now</span>
                            <i class="fa fa-arrow-circle-right"></i>
                        </button>

                    </form>
                </div>
                
            </div>
            
        </div>

    </div>
</section>


