@page
@model UniCare.Pages.ContactModel
@{
}
<section id="breadcrumb-area" style=" background: rgba(0, 0, 0, 0) url(../image/breadcrumb-bg.jpg) no-repeat scroll center center / cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb-title text-center">
                    <h1 style="color:black;">Contact Us</h1>
                    <a href="/" style="color:black;">Home</a> <i class="fa fa-angle-right" style="color:black;"></i> <span style="color:black;">Contact Us</span>
                </div> <!-- /.page-breadcumb -->
            </div>
        </div>
    </div>
</section>


<section id="contact-content">
    <div class="container">
        <div class="section-title2">
            <p>We Are Available</p>
            <h1><span>Get in touch</span></h1>
            <p class="title-text">
                You can talk to our online representative at any time. Please use our Live Chat System on our website or Fill up below instant messaging programs.
                Please be patient, We will get back to you. Our 24/7 Support, General Inquireies Phone: 07503630488
            </p>
        </div>
        <div class="row">
            <div class="contact-address-info">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="contact-address-single-info">
                        <div class="contact-address-bg"></div>
                        <div class="contact-addresss-icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="contact-address-text">
                            <p>TBC</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="contact-address-single-info">
                        <div class="contact-address-bg"></div>
                        <div class="contact-addresss-icon">
                            <i class="fa fa-envelope-o envelop-icon"></i>
                        </div>
                        <div class="contact-address-text special-info">
                            <p>info@UNICcareserviceslimited.co.uk</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="contact-address-single-info">
                        <div class="contact-address-bg"></div>
                        <div class="contact-addresss-icon">
                            <i class="fa fa-phone phoneicon phone-icon"></i>
                        </div>
                        <div class="contact-address-text special-info">
                            <p>07503630488</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                <div style=" box-shadow: 0px 10px 20px 0px rgb(13 82 43 / 90%);padding:10px;">
                    <form class="contact-form">
                        <p><input type="text" name="name" placeholder="Name"></p>
                        <p><input type="text" name="email" placeholder="Email"></p>
                        <p><input type="text" name="subject" placeholder="Subject"></p>
                        <p><textarea name="message" placeholder="Message"></textarea></p>
                        <button type="submit" class="contact-submit-button">
                            <span>submit now</span>
                            <i class="fa fa-arrow-circle-right"></i>
                        </button>

                    </form>
                </div>
                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="working-hour-content">
                    <div class="section-title2">
                        <h1><span>Working hours</span></h1>
                        <ul>
                            <li>Monday: <span>8am to 5pm</span></li>
                            <li>Tuesday: <span>8am to 5pm</span></li>
                            <li>Wednesday: <span>8am to 5pm</span></li>
                            <li>Thursday: <span>8am to 5pm</span></li>
                            <li>Friday: <span>8am to 5pm</span></li>
                            <li>Saturday : <span>9am to 2pm</span></li>
                            <li>Sunday:<span>Closed</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


