@page
@model UniCare.Pages.ServicesModel
@{
}
<section id="breadcrumb-area" style=" background: rgba(0, 0, 0, 0) url(../image/breadcrumb-bg.jpg) no-repeat scroll center center / cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb-title text-center">
                    <h1 style="color:black;">Services</h1>
                    <a href="/" style="color:black;">Home</a> <i class="fa fa-angle-right" style="color:black;"></i> <span style="color:black;">Services</span>
                </div> <!-- /.page-breadcumb -->
            </div>
        </div>
    </div>
</section>

<section id="awesome-service-blog-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title2">

                    <h1><span>Services & Amenities</span></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="awesome-service-blog-items">
                <!--Start awesome service blog single-->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="awesome-service-blog-single" style="margin: 0 auto; text-align: center; box-shadow: 0px 10px 20px 0px rgb(13 82 43 / 90%);">
                        <img src="~/image/nursing-home_38.jpeg" alt="" style="height:300px;margin:0 auto;text-align:center;">
                        <h5>Our Services</h5>
                        <p>

                            Our care plan is not fixed and inflexible, this mean that our service users can choose what they want to do, how and when they want to do it. We take on the daily responsibilities of providing care and ensuring that our service users remain safe and secure.
                        </p>
                        <p>
                            We also enable family, friends and other relatives spend quality time together, enjoying activities that they choose whilst taking care of the necessary daily duties and tasks.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="awesome-service-blog-single" style="margin: 0 auto; text-align: center; box-shadow: 0px 10px 20px 0px rgb(13 82 43 / 90%);">
                        <img src="~/image/kitchen_img-scaled.jpg" alt="" style="height:300px;margin:0 auto;text-align:center;">
                        <h5>
                            Our Accommodation
                        </h5>
                        <p>
                            The home is situated in a quiet cul-de-sac of private / residential houses. The accommodation is highly visible, a modern detached property and presented to a highest standard. It is in the heart of a densely populated residential area with convenient, accessible and a short distance to the town centre, shops, local amenities, and transportation and services users are supported in using these local services. Check out our facilities below.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="project-version-one">
    <div class="container">

        <div class="row normal-gallery" id="image-gallery-mix">

            <div class="col-lg-3 col-sm-6 col-xs-12 tank outside mix" style="display: inline-block;">
                <div class="single-latest-project-gardener">
                    <img src="~/image/11.jpg" alt="">
                    <div class="overlay">
                        <div class="box-holder">
                            <div class="content-box">
                                <h3>
                                    Sizeable bedrooms
                                </h3>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 tank outside mix" style="display: inline-block;">
                <div class="single-latest-project-gardener">
                    <img src="~/image/11.jpg" alt="">
                    <div class="overlay">
                        <div class="box-holder">
                            <div class="content-box">
                                <h3>
                                    Internet
                                </h3>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12 tank outside mix" style="display: inline-block;">
                <div class="single-latest-project-gardener">
                    <img src="~/image/11.jpg" alt="">
                    <div class="overlay">
                        <div class="box-holder">
                            <div class="content-box">
                                <h3>
                                    Parking in front of the building
                                </h3>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 tank outside mix" style="display: inline-block;">
                <div class="single-latest-project-gardener">
                    <img src="~/image/11.jpg" alt="">
                    <div class="overlay">
                        <div class="box-holder">
                            <div class="content-box">
                                <h3>
                                    Decent size garden at the rare
                                </h3>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 tank outside mix" style="display: inline-block;">
                <div class="single-latest-project-gardener">
                    <img src="~/image/11.jpg" alt="">
                    <div class="overlay">
                        <div class="box-holder">
                            <div class="content-box">
                                <h3>
                                    Modern equipped bathrooms/shower
                                </h3>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12 tank outside mix" style="display: inline-block;">
                <div class="single-latest-project-gardener">
                    <img src="~/image/11.jpg" alt="">
                    <div class="overlay">
                        <div class="box-holder">
                            <div class="content-box">
                                <h3>
                                    Large communal areas, including dining area
                                </h3>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12 tank outside mix" style="display: inline-block;">
                <div class="single-latest-project-gardener">
                    <img src="~/image/11.jpg" alt="">
                    <div class="overlay">
                        <div class="box-holder">
                            <div class="content-box">
                                <h3>
                                    Modern kitchen
                                </h3>

                            </div>
                        </div>
                    </div>

                </div>
            </div>




        </div>
    </div>
</section>

<section id="landscaping-design-gardener">
    <div class="container">
        <div class="row" style=" box-shadow: 0px 10px 20px 0px rgb(13 82 43 / 90%);">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-border" style="margin:0 auto;text-align:center;">
                    <img src="~/image/nursing-home_39.jpeg" alt="" style="height:300px;margin:0 auto;text-align:center;">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2>
                    <b>Our Staff</b>
                </h2>
                <p>
                    Our staff support our service users in living a more fulfilling and rewarding life in their daily activity and equally strive in encouraging them to live and sustain their independence.
                </p>
                <p>
                    Our passionate, enthusiastic, skilled, and experienced staff are hands on in delivering safe, personalized care and support for people who use our services 24 hours a day to empower them in living independently as much as possible with positive behavioral support. This is important in enhancing their quality of life and ultimately offer them a sense of belonging and a better integration in the community.
                </p>

            </div>

        </div>
    </div>
</section>