@page
@model UniCare.Pages.ServicesModel
@{
}
 <style>
     .ulockd-srvc-column {
         border: 1px solid #4eb350;
         width: 100% !important;
     }
 </style>
<div class="ulockd-inner-home" style=" background-image: url(../image/inner-pagebg.jpg);">
    <div class="container text-center">
        <div class="row">
            <div class="ulockd-inner-conraimer-details">
                <div class="col-lg-12">
                    <h1 class="text-uppercase">SERVICES</h1>
                </div>
                <div class="col-lg-12">
                    <div class="ulockd-icd-layer">
                        <ul class="ulockd-icd-sub-menu">
                            <li class="list-inline-item"><a href="#"> HOME </a></li>
                            <li class="list-inline-item"><a href="#"> &gt; </a></li>
                            <li class="list-inline-item"> <a href="#"> SERVICES </a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ulockd-servces-one pb70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <div class="main-title hvr-float-shadow">
                    <h2 class="text-uppercase">Services & Amenities</h2>
                    <p>Our service provides accommodation and personal care and support for people with learning disabilities and autism. We provide accommodation that is comfortable and welcoming and well-equipped with a unique service where bespoke support plan is tailored to individual’s needs, preference/s and goals.</p>
                </div>
            </div>
             
        </div>
        <div class="row">
            <div class="col-sm-6 col-xl-6">
                <div class="ulockd-srvcs-column text-center">
                    <div class="ulockd-srvcs-thumb">
                        <img class="img-fluid img-whp" src="~/image/nursing-home_38.jpeg" alt="">
                        <div class="ulockd-srvcs-overlay">
                            <div class="ulockd-srvcs-icon">
                                <a class="lightbox-image" data-fancybox-group="preject" href="~/image/nursing-home_38.jpeg">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="ulockd-srvc-contnt">
                        <h3 class="title"><a href="#">Our Services</a></h3>

                        <p>

                            Our care plan is not fixed and inflexible, this mean that our service users can choose what they want to do, how and when they want to do it. We take on the daily responsibilities of providing care and ensuring that our service users remain safe and secure.
                        </p>
                        <p>
                            We also enable family, friends and other relatives spend quality time together, enjoying activities that they choose whilst taking care of the necessary daily duties and tasks.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-6">
                <div class="ulockd-srvcs-column text-center">
                    <div class="ulockd-srvcs-thumb">
                        <img class="img-fluid img-whp" src="~/image/kitchen_img-scaled.jpg" alt="">
                        <div class="ulockd-srvcs-overlay">
                            <div class="ulockd-srvcs-icon">
                                <a class="lightbox-image" data-fancybox-group="preject" href="~/image/kitchen_img-scaled.jpg">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="ulockd-srvc-contnt">
                        <h3 class="title"><a href="#">Our Accommodation</a></h3>
                        <p>
                            The home is situated in a quiet cul-de-sac of private / residential houses. The accommodation is highly visible, a modern detached property and presented to a highest standard. It is in the heart of a densely populated residential area with convenient, accessible and a short distance to the town centre, shops, local amenities, and transportation and services users are supported in using these local services. Check out our facilities below.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> 
<section class="service-two bg-img1 parallax pb70" data-stellar-background-ratio="0.3" style="background-position: 50% 81px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <div class="main-title hvr-float-shadow">
                    <h2 class="text-uppercase">Awesome <span class="text-thm">Facilities</span></h2>
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="ulockd-srvc-column hvr-underline-from-center">
                    <div class="ulockd-srv-icon float-start"><span class="flaticon-nurse"></span></div>
                    <div class="ulockd-srvc-details style2">
                        <h3 class="title"><a href="#"> Sizeable bedrooms</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="ulockd-srvc-column hvr-underline-from-center">
                    <div class="ulockd-srv-icon float-start"><span class="flaticon-medical-4"></span></div>
                    <div class="ulockd-srvc-details style2">
                        <h3 class="title"><a href="#">Internet</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="ulockd-srvc-column hvr-underline-from-center">
                    <div class="ulockd-srv-icon float-start"><span class="flaticon-office-block"></span></div>
                    <div class="ulockd-srvc-details style2">
                        <h3 class="title"><a href="#">Parking in front of the building</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="ulockd-srvc-column hvr-underline-from-center">
                    <div class="ulockd-srv-icon float-start"><span class="flaticon-folder"></span></div>
                    <div class="ulockd-srvc-details style2">
                        <h3 class="title"><a href="#">Decent size garden at the rare</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="ulockd-srvc-column hvr-underline-from-center">
                    <div class="ulockd-srv-icon float-start"><span class="flaticon-cross"></span></div>
                    <div class="ulockd-srvc-details style2">
                        <h3 class="title"><a href="#">Modern equipped bathrooms/shower</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="ulockd-srvc-column hvr-underline-from-center">
                    <div class="ulockd-srv-icon float-start"><span class="flaticon-shape-1"></span></div>
                    <div class="ulockd-srvc-details style2">
                        <h3 class="title"><a href="#">Large communal areas, including dining area</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="ulockd-srvc-column hvr-underline-from-center">
                    <div class="ulockd-srv-icon float-start"><span class="flaticon-shape-1"></span></div>
                    <div class="ulockd-srvc-details style2">
                        <h3 class="title"><a href="#">Modern kitchen</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 

<section id="landscaping-design-gardener">
    <div class="container">
        <div class="row" style=" box-shadow: 0px 10px 20px 0px #6a3897;padding:30px;">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-border" style="margin:0 auto;text-align:center;">
                    <img src="~/image/nursing-home_39.jpeg" alt="" style="height:300px;margin:0 auto;text-align:center;">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2>
                    <b>Our Staff</b>
                </h2>
                <p>
                    Our staff support our service users in living a more fulfilling and rewarding life in their daily activity and equally strive in encouraging them to live and sustain their independence.
                </p>
                <p>
                    Our passionate, enthusiastic, skilled, and experienced staff are hands on in delivering safe, personalized care and support for people who use our services 24 hours a day to empower them in living independently as much as possible with positive behavioral support. This is important in enhancing their quality of life and ultimately offer them a sense of belonging and a better integration in the community.
                </p>

            </div>

        </div>
    </div>
</section>