@page
@model UniCare.Pages.SuccessModel
@{
}
<section id="breadcrumb-area" style=" background: rgba(0, 0, 0, 0) url(../image/breadcrumb-bg.jpg) no-repeat scroll center center / cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb-title text-center">
                    <h1 style="color:black;">Book Appointment Status</h1>
                    <a href="/" style="color:black;">Home</a> <i class="fa fa-angle-right" style="color:black;"></i> <span style="color:black;">Book Appointment Status</span>
                </div> <!-- /.page-breadcumb -->
            </div>
        </div>
    </div>
</section>



<section id="landscaping-design-gardener">
    <div class="container">
        <div class="row">
             
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2>
                    SUCCESSFUL
                </h2>
                
            </div>

        </div>
    </div>
</section>
